@charset "UTF-8";

body, ul, li, p {
    margin:0px;
    padding:0px;
    list-style:none;
    font-size:1.0rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration:none;
    color:white;
}

h3 {
    text-align:center;
    font-weight:lighter;
}

.cabecalho {
    background-color:burlywood;
    flex-wrap:wrap;
    display:flex; /*itens ao lado*/
    justify-content:space-between;
    padding:20px;
    align-items:center;
}

.menu {
    display:flex;
}

.menu li {
    margin-left:20px;
}

.menu li > a {
    display: block;
    padding: 10px;
}

.container {
    max-width:400px;
    border:1px solid black;
    display:flex;
    margin:0 auto;
    margin-top:10px;
}

.row {
    flex-direction:row;
    max-width:400px;
    border: 1px solid black;
    display:flex;
    margin: 0 auto;
}

.row-reverse {
    flex-direction:row-reverse;
    max-width:400px;
    border:1px solid black;
    display:flex;
    margin:0 auto;
}

.column {
    flex-direction:column;
    max-width:400px;
    border:1px solid black;
    display:flex;
    margin:0 auto;
}

.column-reverse {
    flex-direction:column-reverse;
    max-width:400px;
    border: 1px solid black;
    display:flex;
    margin:0 auto;
    margin-bottom:10px;
}

.no-wrap {
    display:flex;
    max-width:400px;
    border: 1px solid black;
    margin:0 auto;
    flex-wrap:nowrap;
}

.wrap {
    display:flex;
    max-width:400px;
    border: 1px solid black;
    margin: 0 auto;
    flex-wrap:wrap;
}

.wrap-reverse {
    display:flex;
    max-width:400px;
    border: 1px solid black;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    margin-bottom:10px;
}

.flex-start {
    display:flex;
    max-width:400px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    max-width:400px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: flex-end;
}

.center {
    display:flex;
    max-width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: center;
}

.space-between {
    display: flex;
    max-width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: space-between;
}

.space-around {
    display: flex;
    max-width: 400px; 
    border: 1px solid black;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: 10px;
}

.flex-start-column {
    display: flex;
    max-width: 400px;
    min-height:200px;
    border: 1px solid black;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-end-column {
    display: flex;
    max-width: 400px;
    min-height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
}

.center-column {
    display: flex;
    max-width: 400px;
    min-height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.space-between-column {
    display: flex;
    max-width: 400px; 
    min-height: 200px;
    border: 1px solid black;
    margin: 0 auto; 
    flex-direction: column;
    justify-content: space-between;
}

.space-around-column {
    display: flex;
    max-width: 400px; 
    min-height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
}

.stretch {
    display:flex;
    max-width:420px;
    border: 1px solid black;
    margin: 0 auto;
    align-items:stretch;
}

.align-flex-start {
    display: flex;
    max-width: 420px;
    border: 1px solid black;
    margin: 0 auto;
    align-items:flex-start;
}

.align-flex-end {
    display:flex;
    max-width:420px;
    border:1px solid black;
    margin: 0 auto;
    align-items:flex-end;
}

.align-center {
    display:flex;
    max-width:420px;
    border: 1px solid black;
    margin: 0 auto;
    align-items: center;
}

.baseline {
    display:flex;
    max-width:420px;
    border:1px solid black;
    margin: 0 auto;
    align-items: baseline;
}

.item {
    flex: 1;
    margin:5px;
    background-color:burlywood;
    text-align:center;
    font-weight:bolder;
}

.items {
    margin:5px;
    background-color:burlywood;
    font-weight:bolder;
    text-align:center;
    padding: 0 10px;
}

.item-2 {
    flex: 1;
    margin:5px;
    background-color:burlywood;
    font-weight:bolder;
    text-align:center;
    padding: 0 10px;
}

.item-2:first-child {
    padding-top:20px;
}

