@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body, ul, li, p {
    margin:0px;
    padding:0px;
    list-style:none;
    font-size:1.0rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration:none;
    color:white;

}

a:hover {
    color:chocolate;
    font-weight:bolder;
}

.titulo {
    height:10em;
    display:flex;
    align-items:center;
}

.titulo p {

    margin: 0;
    position:relative;
    top:150%;
    left:24%;
    font-family:'Redressed', sans-serif;
    font-size:100px;
    color:chocolate;
}

.cabecalho {
    background-color:burlywood;
    flex-wrap:wrap;
    display:flex; /*itens ao lado*/
    justify-content:space-between;
    padding:20px;
    align-items:center;
}

.menu {
    display:flex;
}

.menu li {
    margin-left:20px;
}

.menu li > a {
    display: block;
    padding: 10px;
}

footer {
    background-color:burlywood;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:white;
    text-align: center;
}

footer:hover {
    color:chocolate;
    font-weight:bolder;
}